.html {
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
  --clr-pm: rgb(67, 185, 103);
  --clr-sc: black;
  --wt: white;
}

.heading-container {
  margin: 0.1rem;
  color: var(--wt);
  padding: 1.5rem;
  background-color: var(--clr-pm);
}

.title {
  font-style: bold;
  font-family: "Goldman", cursive;
  color: black;
}

.source-code-btn {
  border: black;
  border: solid var(--wt) 1px;
  background-color: rgb(3, 41, 25);
}

.source-code-btn:hover {
  background-color: rgb(2, 12, 12);
}

.gs {
  margin: 0;
  text-align: center;
}

.main {
  display: flex;
}

.enc {
  flex: 1;
  border: 2px solid var(--clr-sc);
  margin: 0.2rem;
  width: auto;
}

.dec {
  flex: 1;
  border: 2px solid var(--clr-sc);
  margin: 0.2rem;
}

.cmp-btn {
  border: 1px solid white;
  background-color: var(--clr-pm);
  margin: 0.3rem;
}

.cmp-btn:hover {
  background-color: rgb(11, 65, 11);
}

.dec-btn {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.dec-btn:hover {
  color: white;
  background-color: black;
  border: 1px solid white;
}

.submit-btn {
  border: 1px solid white;
  background-color: var(--clr-pm);
  margin: 0.3rem;
}

.submit-btn:hover {
  background-color: rgb(11, 65, 11);
}

@media only screen and (max-width: 900px) {
  .main {
    flex-direction: column;
  }
}
